.logo {
    float: left;
    width: 180px;
    height: 31px;
    color: #1890ff;
    font-size: 25px;
    font-family: 'Dancing Script';
  }
  .site-layout .site-layout-background {
    background: #fff;
  }